@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
.autocomplete {
  background-image: url("../images/icon_search.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
}
